@model IEnumerable<SNPIDataManager.Areas.EDCFeed.Models.CategoryModels.CategoriesViewModel>

<link type="text/css" href="~/Areas/EDCFeed/Content/Mapping.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2>EDC Mapping</h2>

@section Scripts{
    <script>
        $(document).ready(function () {
            ToggleShopCategories();

            CategoriesStyling("root-select");
            CategoriesStyling("nopCom-flow");
        });

         //Toggle Shop Categorie Children (Sub Categories)
        function ToggleShopCategories() {
            var toggler = document.getElementsByClassName("root-select");
            var i;

            for (i = 0; i < toggler.length; i++) {
                toggler[i].addEventListener("click", function () {
                    var nested = $(this).parent();
                    var children = $(nested).find(".nested");

                    for (var x = 0; x < children.length; x++) {
                        $(children)[x].classList.toggle("active");
                    }
                });
            }
        }

        //Toggle Supplier Categorie Children (Sub Categories)
        $(".children_is_visibel").click(function () {
            var itemNumber = $(this).attr("id").split("_")[1];
            $("#B_" + itemNumber + "").toggle("slide");
        });

        function CategoriesStyling(selectedClass) {
            var nested = $("." + selectedClass + "").parent();
            var children = $(nested)

            for (var i = 0; i < children.length; i++) {
                var child = $(children)[i];
                if (child.children.length > 1) {
                    if (selectedClass == "root-select") {
                        $(child).css("margin-left", "-7px");
                    }
                    else {
                        $(child).css("margin-left", "-2.5px");
                    }
                }
            }
        }
    </script>
}

<section class="container container_display">
    <div class="folder_container" style="margin-right: 0px; float: left; background-color: floralwhite; color: midnightblue;">
        <h3>Shop Categories</h3>
        <ul style="margin: 10px !important;">
            @foreach (var root in Model)
            {
                foreach (var firstIndex in root.NopCategoriesDict)
                {
                    foreach (var firstIndexValue in firstIndex.Value)
                    {
                        <li>@firstIndexValue.Name</li>
                        if (firstIndexValue.NestedModel != null)
                        {
                            <ul>
                            @foreach (var secondIndex in firstIndexValue.NestedModel)
                            {
                                <li>@secondIndex.Value.Name</li>
                                if (secondIndex.Value.NestedModel != null)
                                {
                                    <ul>
                                    @foreach (var thirdIndex in secondIndex.Value.NestedModel)
                                    {
                                        <li>@thirdIndex.Value.Name</li>
                                        if (thirdIndex.Value.NestedModel != null)
                                        {
                                            <ul>
                                            @foreach (var thirdIndexValue in thirdIndex.Value.NestedModel)
                                            {

                                                <li>@thirdIndexValue.Value.Name</li>

                                            }
                                            </ul>
                                        }
                                    }
                                    </ul>
                                }
                            }
                            </ul>
                        }
                    }
                }
            }
        </ul>
    </div>

    <div class="folder_container" style="margin-right: 0px; float: right; background-color: floralwhite; color: midnightblue;">
        <h3>Supplier Categories</h3>
        <ul style="margin: 10px !important; padding-inline-start: 41px;">
            @foreach (var item in Model)
            {
                foreach (var newItem in item.EDCCategoriesDict)
                {
                    <li>@newItem.Key</li>
                    <ul>
                        @foreach (var index in newItem.Value)
                        {

                            <li>@index</li>
                        }
                    </ul>
                }
            }
        </ul>
    </div>
</section>
