@model IEnumerable<SNPIDataManager.Areas.EDCFeed.Models.CategoryModels.CategoriesViewModel>

<link type="text/css" href="~/Areas/EDCFeed/Content/Mapping.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2>EDC Product Importer</h2>

@section Scripts{
    <script>
        var progress = 0;
        var progressToString = "";

        $(document).ready(function () {
            SelectedShopCategory();
            SelectedSupplierCategory();
        });

        function SelectedShopCategory() {
            var selectedClass = document.getElementsByClassName("select-shop-category");

            for (var i = 0; i < selectedClass.length; i++) {
                selectedClass[i].addEventListener("click", function () {
                    var value = this.innerText;
                    var selectedBoxChild = $(".shop-box-selected").children();
                    $(".shop-box-selected").children()[0].value = value;
                    ManageProgress();
                });
            }
        }

        function SelectedSupplierCategory() {
            var selectedClass = document.getElementsByClassName("select-supplier-category");

            for (var i = 0; i < selectedClass.length; i++) {
                selectedClass[i].addEventListener("click", function () {
                    var value = this.innerText;
                    var selectedBoxChild = $(".supplier-box-selected").children();
                    $(".supplier-box-selected").children()[0].value = value;
                    ManageProgress();
                });
            }
        }

        function ManageProgress(value) {
            if (value != "" && $(".progress-bar").css("width") == "0px") {
                $(".progress-bar").css("width", "50%");
                $(".progress-bar").text("50%");
            }
            else if (value != "" && $(".progress-bar").css("width") == "105px") {
                $(".progress-bar").css("width", "100%");
                $(".progress-bar").text("100%");
            }
        }

        $(".custom-btn").click(function () {
            $(".shop-box-selected").children()[0].value = "";
            $(".supplier-box-selected").children()[0].value = "";

            $(".progress-bar").css("width", "0px");
            $(".progress-bar").text("");
        });
    </script>
}


<div class="row box-container">
    <div class="box-center-container">
        <button type="button" class="btn btn-primary btn-lg btn-block custom-btn">Create Link</button>

        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div>

        <div class="col shop-box-selected">
            <input type="text" class="form-control" readonly />
        </div>
        <div class="col supplier-box-selected">
            <input type="text" class="form-control" readonly />
        </div>
    </div>
</div>

<div class="row">
    <div class="col category-box shop-box">
        <h3>Shop Categories</h3>
        <ul style="margin: 10px !important;">
            @foreach (var root in Model)
            {
                foreach (var levelOne in root.NopCategoriesDict)
                {
                    foreach (var levelOneValue in levelOne.Value)
                    {
                        <li><a class="select-shop-category"><p>@levelOneValue.Name</p></a></li>
                        if (levelOneValue.NestedModel != null)
                        {
                            <ul>
                                @foreach (var levelTwoNestedModel in levelOneValue.NestedModel)
                                {
                                    <li><a class="select-shop-category"><p>@levelTwoNestedModel.Value.Name</p></a></li>
                                    if (levelTwoNestedModel.Value.NestedModel != null)
                                    {
                                        <ul>
                                            @foreach (var LevelThreeNestedModel in levelTwoNestedModel.Value.NestedModel)
                                            {
                                                <li><a class="select-shop-category"><p>@LevelThreeNestedModel.Value.Name</p></a></li>
                                                if (LevelThreeNestedModel.Value.NestedModel != null)
                                                {
                                                    <ul>
                                                        @foreach (var levelFourNestedModel in LevelThreeNestedModel.Value.NestedModel)
                                                        {
                                                            <li><a class="select-shop-category"><p>@levelFourNestedModel.Value.Name</p></a></li>
                                                        }
                                                    </ul>
                                                }
                                            }
                                        </ul>
                                    }
                                }
                            </ul>
                        }
                    }
                }
            }
        </ul>
    </div>

    <div class="col category-box supplier-box">
        <h3>Supplier Categories</h3>
        <ul style="margin: 10px !important; padding-inline-start: 41px;">
            @foreach (var root in Model)
            {
                foreach (var edcDict in root.EDCCategoriesDict)
                {
                    <li><a class="select-supplier-category"><p>@edcDict.Key</p></a></li>

                    <ul>
                        @foreach (var edcNestedDict in edcDict.Value)
                        {

                            <li><a class="select-supplier-category"><p>@edcNestedDict</p></a></li>
                        }
                    </ul>
                }
            }
        </ul>
    </div>
</div>
