@model IEnumerable<SNPIDataManager.Areas.EDCFeed.Models.IndexViewModel>

<link type="text/css" href="~/Areas/EDCFeed/Content/Mapping.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2>EDC Mapping</h2>

@section Scripts{
    <script>
        //Toggle Supplier Categorie Children (Sub Categories)
        $(".children_is_visibel").click(function () {
            var itemNumber = $(this).attr("id").split("_")[1];
            $("#B_" + itemNumber + "").toggle("slide");
        });
    </script>
}

<section class="container container_display">
    <div class="folder_container" style="margin-right: 0px; float: left; background-color: floralwhite; color: midnightblue;">
        <h3>Shop Categories</h3>
        <ul class="nopCategory-items" style="margin: 10px !important">
            @foreach (var item in Model)
            {
                foreach (var newItem in item.NopCategoriesModel)
                {
                    <li class="cat-item" data-id="@newItem.Id" data-parentId="@newItem.ParentId">
                        <p>@newItem.Name</p>
                    </li>
                }
            }
        </ul>
    </div>

    <div class="folder_container" style="margin-right: 0px; float: right; background-color: floralwhite; color: midnightblue;">
        <h3>Supplier Categories</h3>
        <ul style="margin: 10px !important">
            @{ var i = 0; }
            @foreach (var item in Model)
            {
                foreach (var newItem in item.EDCCategoriesFiltered)
                {
                    i++;
                    <li class="fa-folder" style="list-style-type:none;">
                        <div style="display: flex;">
                            <div id="A_@i" class="children_is_visibel" style="font-weight: bold; cursor: pointer;"><p style="font-size:15px;">></p></div>

                            <div class="PCI_Overflow">
                                <svg class="bi bi-folder-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />
                                </svg>

                                <p class="parentCategoryItem">@newItem.Key</p>
                            </div>
                        </div>

                        <div id="B_@i" class="parentCategoryItem_container">
                            <div class="childCategoryItem_container">
                                @foreach (var index in newItem.Value)
                                {
                                    <ul class="aphaOrder" style="padding-left: 0;">
                                        <svg class="bi bi-folder-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />
                                        </svg>

                                        <li class="childCategoryItem">@index</li>
                                    </ul>
                                }
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</section>
