@using Microsoft.AspNet.Identity
@using Project = SNPIDataManager.Helpers.CookieAuthorizationCheck;

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SNPI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>

                @if (Project.CookieAuthCheck() == true)
                {
                    <li>@Html.ActionLink("Dashboard", "Index", "NopAuthorization", new { area = "" }, null)</li>
                }
            </ul>
            @if (Project.CookieAuthCheck() == false)
            {
                <ul class="nav navbar-nav align-nav-right">
                    <li>@Html.ActionLink("Register", "Index", "Register", new { area = "" }, null)</li>
                    <!--<li>@Html.ActionLink("Login", "Index", "Login", new { area = "" }, null)</li>-->
                </ul>
            }else
            {
                Html.RenderPartial("_LogoutForm");
            }
        </div>
    </div>
</div>
